/* Some text formatting */

p {
    line-height: 1.3;
}

strong {
    font-weight: bold;
}

/* All that is related to the header */

header {
    border-bottom: 1px solid rgb(196, 196, 196);
    -webkit-box-shadow: 0 7px 7px -10px;
    -moz-box-shadow: 0 7px 7px -10px;
    box-shadow: 0 7px 7px -10px;
}

.logo-container {
    display: flex;
    align-items: center;
}

#nav-logo  {
    width: 200px;
}

.nav-evener {
    width: 200px;
}

.nav-container {
    margin: auto;
    display: flex;
    height: var(--header-height);
    max-width: var(--header-desktop-width);
    justify-content: space-between;
}

.mobile-nav-container {
    justify-content: space-between;

}

nav {
    color: rgb(71, 71, 255);
    display: flex;
}

.mobile-nav {
    padding: 10px;
    font-size: 50px;
}

.mobile-menu {
    display: none;
}

.mobile-menu-display {
    display: block;
}

.nav-btn {
    text-decoration: none;
    display: block;
    width: 100px;
    text-align: center;
    line-height: var(--header-height);
}

.mobile-nav-btn {
    display: block;
    height:40px;
    font-size: 20px;
    line-height: 40px;
}

.fa-bars {
    width: 50px;
}

.remove-a {
    display: none;
}

.nav-btn:visited {
    color: rgb(71, 71, 255);

}

.nav-btn:hover {
    border-bottom: 5px solid rgb(71, 71, 255);
    cursor: pointer;
}

/* Styles for the breadcrumbs element on every page except home */

.breadcrumbs h1{
    text-align: left;
}

/* Generic styles to avoid repitiion */
.container {
    margin: auto;
    max-width: var(--header-desktop-width);
    padding: var(--containers-padding);
}

.page-cover {
    height: 400px;
}

button {
    border: 1px solid blue;
    height: 30px;
    width: 180px;
    border-radius: 5px;
    background-color: white;
    color: blue;
}

button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;

}

/* All that is related to the footer */

footer {
    background-color: var(--grey);
    margin-bottom: -1;
}

.footer-logo-container {
    text-align: center;
    padding-top: var(--containers-padding);
    border-bottom: solid 1px rgb(173, 172, 172);
}

footer ul {
    text-align: center;
    padding-top: calc((var(--containers-padding) / 2));
    margin: auto;
    text-align: left;
    width: 100px;
    padding-left: 40px;
}

footer .copyright {
    text-align: center;
    font-size: 12px;
    color: rgb(126, 126, 126);
}

@media screen and (max-width: 920px) {
    .container {
        padding: var(--containers-padding) 0;
        width: var(--generic-containers-width);
    }

} 

@media screen and (max-width: 750px) {
    :root {
        --generic-containers-width: 650px
    }
}

@media screen and (max-width: 725px) {
    :root {
        --generic-containers-width: 625px
    }
}

@media screen and (max-width: 700px) {
    :root {
        --generic-containers-width: 600px
    }
}

@media screen and (max-width: 675px) {
    :root {
        --generic-containers-width: 575px
    }
}

@media screen and (max-width: 650px) {
    :root {
        --generic-containers-width: 550px
    }
}
