:root {
    --header-height: 60px;
    --header-desktop-width: 1170px;
}

header {
    border-bottom: 1px solid grey;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);

}


.logo-container {
    display: flex;
    align-items: center;
}

#logo  {
    width: 200px;
}

.nav-evener {
    width: 200px;
}

.nav-container {
    margin: auto;
    display: flex;
    height: var(--header-height);
    max-width: var(--header-desktop-width);
    justify-content: space-between;
}

nav {
    color: blue;
    display: flex;
    align-items: center;
}

.nav-btn {
    display: block;
    width: 90px;
    text-align: center;
}

.hero {
    height: 800px;
    background-image: url("./images/hero-img.jpg");
    background-size: 1900px 800px;
    background-repeat: no-repeat;
}
